h1 {
    color: red;
}

nav a {
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 6px;
}
nav a:hover {
  background: #eee;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  outline: none !important;
}

main {
  margin-top:80px;

  @media(max-width:768px){
    margin-top:60px;
  }
}

a {
  text-decoration: none !important;
}

@import "~/assets/scss/header";
@import "~/assets/scss/footer";