.footer {
    background-color: rgb(191, 238, 238);
    padding:50px 0;

    h3 {
        margin-bottom: 20px;
    }

    i {
        color: rgb(105, 60, 78);
    }

    i:hover {
        color: red;
    }
}