.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide .mob {
  display: none;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  opacity: 0;
  transition: opacity 0.5s ease;
  color: #252e27;
}

.mySwiper:hover .swiper-button-next,
.mySwiper:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-pagination-bullet {
  background: #d37ee9;
  width:20px;
  border-radius: 5px;
}

.container {
  .content {
    margin-top:20px;

    .header-title {
      .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        color:#252e27
      }

     .see-more {
        font-size: 16px;
        color: red;
        transition: transform 0.3s ease, color 0.3s ease;
        transform: scale(1);
      }

      .see-more:hover {
        transform: scale(0.9);
        color: rgb(150, 134, 236);
      }
    }
    
    .product-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .product-item {
        position: relative;
        overflow: hidden; 
        margin-bottom: 30px;

        .product-image {
          transform: scale(1);
          transition: all 0.3s ease;
        }

        .product-info {
          position: absolute; 
          bottom: -35px; 
          left: 0;
          width: 100%;
          height: 130px;
          background-color: #fff;
          transition: all 0.3s ease; 
          padding: 10px;

          .product-name {
            font-size: 18px;
            height:45px;
            font-weight: 500;
            color: #252e27;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .price {

            .product-price {
              font-size: 16px;
              color: red;
              margin:4px 0;
            }

            .original-price {
              font-size: 14px;
              color: #888;
              text-decoration: line-through;
              margin:4px 0 4px 10px;
            }
          }

          .vote-sold {
            .vote {
              i {
                color: red;
              }
            }

            .sold {
              color: #473c3c;
            }
          }
        }

        .sale {
          position: absolute;
          top: 10px;
          left: 20px;
          background-color: red;
          color: white;
          padding: 3px 7px;
          font-size: 12px;
          border-radius: 5px;
          animation: shake 1s infinite;
        }

        &:hover {
          .product-image {
            transform: scale(1.1);
          }

          .product-info {
            transform: translateY(-35px);
            background-color: #dfd3d3;
          }
        }
      }

      @keyframes shake {
        0% { transform: translateY(0); }
        20% { transform: translateY(-2px); }
        40% { transform: translateX(2px); }
        60% { transform: translateX(-2px); }
        80% { transform: translateY(2px); }
        100% { transform: translateY(0); }
      }
    }
  }

  .info-2 {
    .info-item {
      border:#e5e3e6 1px solid;
      width:25%;
      padding:20px;
      h5 {
        font-size: 16px;
        font-weight: 600;
        color: #252e27;
        text-align: center;
      }

      p {
        font-size: 14px;
        color: #473c3c;
      }
    }
  }

  .info-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
  }
}

@media (max-width: 768px) {
  .swiper-slide .desk {
    display: none;
  }

  .swiper-slide .mob {
    display: block;
  }

  .product-info {
    bottom: 0; 
    left: 0;
    height: 200px !important;
    position: static !important;
  }

  .product-item:hover {
    .product-image,
    .product-info {
      transform: none !important;
      background-color: #fff !important;
    }
  }

  .info-2 {
    .info-item {
      width:50% !important;
    }
  }
}